h1 {
    text-align: center;
    color: #003D5B;
    font-family: papyrus;
}
.table {
   text-align:center;
   font-size: calc(1rem + 0.5vw);
   color: #AEB4A9#0075C4;
   background-color: #EEE4E1;
   margin-left: 115px;
   margin-right: 60px;
   border-radius: 30px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    text-align: right;
    background-color: #ECF8F8;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #424C55;
    margin-right: 20px;
    margin-left: 20px;
    
}
h3 {
    color: #394756;
    font-family: papyrus;
}